/*
========================
VARIABLES
========================
*/

:root {
  --palette-1: #002855; /* PMS-295 */
  --palette-2: #FFB81C; /* PMC-1235 */
  --palette-3: #48a8dc; 
  --palette-4: #fda000; 
  --border-color: rgba(0,0,0,0.03);
  --text-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --header-family: 'Oswald', sans-serif;
}

/*
========================
BASE STYLES
========================
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-family);
  scroll-behavior: smooth;
  font-size: 10px;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--header-family);
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

input, textarea {
  font-size: 16px;
}

img {
  max-width: 100%;
}

section, footer {
  padding: 1.5em 1.5em;
  border-top: 1px solid var(--border-color);
  overflow: hidden;
}

@supports(padding: max(0px)) {

  @media (orientation: landscape) {

    header, section, footer {
      padding-left: max(1.5em, env(safe-area-inset-left));
      padding-right: max(1.5em, env(safe-area-inset-right));
    }
  }
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  input, textarea {
    font-size: 18px;
    border-radius: 4px;
  }
  section, footer {
    padding: 3em 1.5em;
  }
}

/*
========================
CONTAINER
========================
*/

.container {
  margin: 0 auto;
  max-width: 768px;
}

/*
========================
BUTTONS
========================
*/

.button {
  display: inline-block;
  padding: .75em 1.5em;
  border: 1px solid var(--palette-1);
  background: var(--palette-1);
  color: white;
  font-size: .9em;
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .125s ease-in-out;
}

.button:hover {
  background: var(--palette-2);
  border: 1px solid var(--palette-2);
}

.button.primary {
  background: white;
  color: black;
}

/*
========================
ALERT
========================
*/

.alert {
  display: none;
  padding: 6px 14px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  text-align: center;
  font-size: .8em;
  color: #666;
}

.alert.show {
  display: block;
}

.alert.success {
  background: #efe;
  border-color: #6c6;
  color: #2c2;
}

.alert.error {
  background: #fee;
  border-color: #f88;
  color: #c22;
}

/*
========================
Navigation
========================
*/

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  z-index: 3;
  animation: fade-in 1s;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  transition: all .4s ease-in-out, background-color .2s linear;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

nav li {
  display: block;
  padding: .5em 1.25em;
  border-top: 1px solid var(--border-color);
}

nav li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  transition: text-shadow .4s ease-in-out, box-shadow .1s ease-in-out, opacity .25s ease-in-out;
}

nav li a:hover {
  box-shadow: inset 0 -3px 0 0 var(--palette-2);
}

@media only screen and (min-width: 640px) {

  nav {
    padding: 0 1.5em;
  }

  nav ul {
    overflow: initial;
    clear: none;
    float: right;
    max-height: none;
  }

  nav li {
    float: left;
    padding: .5em 1.25em;
    border: 0;
  }

  nav li a {
    padding: .3em 0;
  }

  nav.top {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: transparent;
    color: white;
    box-shadow: none;
    transition: all .4s ease-in-out, background-color .05s linear;
  }
  
  nav.top a {
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }

  #nav-donate {
    padding: 0.2em 1em;
    border: 2px solid transparent;
    transition: .2s all ease-in;
    order: 1;
  }
  
  nav.top #nav-donate {
    border-color: white;
  }
}

/*
========================
Navigation Logo
========================
*/

#navigation-logo {
  margin-left: 1.25em;
  padding: .2em 0;
  float: left;
}

#navigation-logo img {
  display: block;
}

#navigation-logo:hover {
  opacity: .7;
  box-shadow: none;
}

/*
========================
Hamburger Menu
========================
*/

.hamburger {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1.5em 1em;
  position: relative;
  user-select: none;
}

.hamburger .hamburger-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.hamburger .hamburger-icon:before,
.hamburger .hamburger-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamburger .hamburger-icon:before {
  top: 5px;
}

.hamburger .hamburger-icon:after {
  top: -5px;
}

.hamburger-button {
  display: none;
}

.hamburger-button:checked ~ .menu {
  max-height: 240px;
}

.hamburger-button:checked ~ .hamburger .hamburger-icon {
  background: transparent;
}

.hamburger-button:checked ~ .hamburger .hamburger-icon:before {
  transform: rotate(-45deg);
}

.hamburger-button:checked ~ .hamburger .hamburger-icon:after {
  transform: rotate(45deg);
}

.hamburger-button:checked ~ .hamburger:not(.steps) .hamburger-icon:before,
.hamburger-button:checked ~ .hamburger:not(.steps) .hamburger-icon:after {
  top: 0;
}

@media only screen and (min-width: 640px) {

  .hamburger {
    display: none;
  }
}


/*
========================
INTRODUCTION
========================
*/

#intro {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url(/img/intro.jpg);
  background-position: left 25% top 0%;
  background-size: cover;
  background-repeat: no-repeat; 
  color: white;
  transition: background-position .25s ease-in-out;
}

#intro::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0,40,85,0.2), transparent);
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  content: '';
  z-index: 2;
}

#intro #intro-content {
  max-width: 28em;
  padding: 10em 1.5em;
  transition: all 1s ease-in-out;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards; 
  opacity: 0;
}

#intro p {
  font-size: .85em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#intro a {
  color: white;
}

#intro a:hover {
  text-shadow: 0 0 1em rgba(0,0,0,0.5);
}

#intro a ~ a {
  margin-left: .75em;
  border-left: 2px solid white;
  padding-left: .75em;
}

#intro .button {
  border-width: 2px;
  border-color: white;
  background: rgba(0,0,0,0.02);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
  color: white;
}

#intro .button:hover {
  background: rgba(0,0,0,0.1);
  color: white;
}

#intro .button.primary {
  background: white;
  color: black;
  box-shadow: none;
  padding-left: 1.5em;
}

#intro .button.primary:hover {
  background-color: var(--palette-2);
  border-color: var(--palette-2);
  color: white;
}

@keyframes fade-in {
	0% {
    transform: translateY(-1em);
		opacity: 0;
	}
  100% {
    transform: translateY(0);
		opacity: 1;
	}
}

#scroller {
	position: absolute;
	bottom: 5em;
	left: 50%;
	cursor: pointer;
	z-index: 2;
}

#scroller span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  box-sizing: border-box;
}

#scroller span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroller span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 46px;
  height: 46px;
  background-color: rgba(255,255,255,.1);
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  animation: scrollindicator 2s infinite;
  box-sizing: border-box;
}

@keyframes scrollindicator {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 20px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media only screen and (min-width: 480px) {
  #intro {
    background-position: left 25% top 20%;
  }
}

@media only screen and (min-width: 960px) {
  /*
  #intro {
    background-position: right 0% bottom 70%;
  }
  */
  #intro #intro-content {
    margin-left: 7.5%;
  }
}

@media only screen and (min-width: 1280px) {
  #intro {
    background-position: right 0% top 20%;
  }
  #intro #intro-content {
    margin-left: 10%;
  }
}

/*
========================
ABOUT
========================
*/

#about {
  text-align: left;
}

#about h1 {
  text-align: center;
}

#about img {
  margin-top: 2em;
}

/*
========================
ISSUES
========================
*/

#issues {
  text-align: center;
  background-color: #f8fafc;
  background-color: var(--palette-3);
  color: white;
}

#issues h1 {
  margin-bottom: .25em;
}

#issues h2 {
  margin: 1em auto;
  max-width: 25em;
  margin-top: 0;
  font-size: 1.5em;
  color: black;
}

#issues ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

#issues li {
  flex: 1 0;
  flex-basis: 100%;
  margin-bottom: 1.5em;
  padding: 1em 2em;
  background-color: rgba(249,252, 255, 0.9);
  border: 1px solid rgba(0,0,0,0.03);
  border-radius: .5em;
  box-shadow: 0 1em 1em rgba(0,0,0,0.03);
  color: black;
}

#issues li h2 {
  margin-top: inherit;
  font-size: 1.5em;
  color: inherit;
}

#issues li p {
  text-align: left;
}

@media only screen and (min-width: 960px) {
  #issues ul {
    padding: 0 2em;
  }
  #issues li {
    flex-basis: 40%;
    margin: 1em;
  }
}

@media only screen and (min-width: 1280px) {
  #issues ul {
    padding: 0 2em;
  }
  #issues li {
    flex-basis: 30%;
  }
}

/*
========================
HOW TO HELP
========================
*/

#how-to-help {
  text-align: center;
  background-color: var(--palette-2);
  background-color: #f8fafc;
  color: white;
  color: black;
}

#how-to-help ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  display: flex;
  align-items: center;
}

#how-to-help li {
  position: relative;
  /*display: flex;*/
  flex: 1 0;
  flex-basis: 100%;
  flex-flow: column nowrap;
  margin-bottom: 1.5em;
  padding: 2em;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.03);
  border-radius: .5em;
  box-shadow: 0 1em 1em rgba(0,0,0,0.03);
  color: black;
}

#how-to-help li:first-child {
  background-color: transparent;
  box-shadow: none;
  border: none;
  flex-basis: 25%;
  padding-bottom: 5em;
}

#how-to-help li h2 {
  margin-top: 0;
  margin-bottom: .25em;
}

#how-to-help li p {
  text-align: left;
}

#how-to-help li p:last-child {
  margin: 0 auto;
  margin-top: auto;
  padding-top: .75em;
  text-align: center;
}

#how-to-help input,
#how-to-help textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid var(--border-color);
}

#how-to-help label {
  color: var(--palette-1);
  font-family: var(--header-family);
  font-weight: 500;
  font-size: .9em;
  text-transform: uppercase;
}

#volunteer-form {
  text-align: left;
}

#volunteer-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .5em;
}

.volunteer-option {
  flex: 1;
  flex-basis: 100%;
  font-size: .9em;
}

#how-to-help .volunteer-option label {
  font-family: var(--text-family);
  font-weight: normal;
  text-transform: none;
  opacity: 1;
}

#how-to-help input[type=checkbox] {
  display: inline-block;
  width: initial;
  margin-right: 1em;
  margin-bottom: 0;
}

#how-to-help input[type=checkbox] ~ label {
  margin-right: 1em;
}

#how-to-help ::placeholder {
  opacity: .5;
}

@media only screen and (min-width: 750px) {
  .volunteer-option {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 960px) {
  #how-to-help ul {
    padding: 0 2em;
  }
  #how-to-help li {
    flex-basis: 40%;
    margin: 1em;
  }
  .volunteer-option {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  #how-to-help ul {
    padding: 0 2em;
  }
}

/*
========================
FOOTER
========================
*/

#footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

#footer li a {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  margin: 0 1em;
  text-indent: -99990px;
}

/* 
Icons from: 
Email: https://uxwing.com/received-inbox-email-icon/
Facebook: https://uxwing.com/facebook-round-color-icon/
Twitter: https://uxwing.com/twitter-round-color-icon/
Instagram: https://uxwing.com/instagram-round-color-icon/ 
*/

#footer li:nth-child(1) a {
  background-image: url(/img/icons/email.svg);
}

#footer li:nth-child(2) a {
  background-image: url(/img/icons/twitter-round-color.svg);
}

#footer li:nth-child(3) a {
  background-image: url(/img/icons/facebook-round-color.svg);
}

#footer li:nth-child(4) a {
  background-image: url(/img/icons/instagram-round-color.svg);
}

@media only screen and (min-width: 640px) {
  #footer li a {
    margin: 0 2em;
  }
}
