/*
========================
VARIABLES
========================
*/

:root {
  --palette-1: #002855; /* PMS-295 */
  --palette-2: #FFB81C; /* PMC-1235 */
  --palette-3: #48a8dc; 
  --palette-4: #fda000; 
  --border-color: #eee;
  --text-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --header-family: 'Oswald', sans-serif;
}

/*
========================
BASE STYLES
========================
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-family);
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--header-family);
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

input, textarea {
  font-size: 16px;
}

img {
  max-width: 100%;
}

section, footer {
  margin: 0 auto;
  padding: 1.5em 1.5em;
  border-top: 1px solid var(--border-color);
}

@media only screen and (min-width: 480px) {
  html, body {
    font-size: 18px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  input, textarea {
    font-size: 18px;
  }
  section, footer {
    padding: 3em 1.5em;
  }
}

/*
========================
CONTAINER
========================
*/

.container {
  margin: 0 auto;
  max-width: 768px;
}

/*
========================
BUTTONS
========================
*/

.button {
  display: inline-block;
  padding: .75em 1.5em;
  border: 1px solid var(--palette-1);
  background: var(--palette-1);
  color: white;
  font-size: .9em;
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .125s ease-in-out;
}

.button:hover {
  background: var(--palette-2);
  border: 1px solid var(--palette-2);
}

.button.primary {
  background: white;
  color: black;
}

/*
========================
NAVIGATION
========================
*/

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
  list-style: none;
  padding: 2em 1.25em;
  background: linear-gradient(180deg, rgba(0,0,0,0.2), transparent);
}

nav a {
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

nav a:hover {
  color: var(--palette-2);
  text-decoration: underline;
}

@media only screen and (min-width: 640px) {
  nav {
    font-size: 1.125em;
  }
  nav ul {
    padding: 2em 3em;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 3em;
  }
}

/*
========================
INTRODUCTION
========================
*/

#intro {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url(/img/intro.jpg);
  background-position: left 25% bottom 0%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  transition: background-position .25s ease-in-out;
}

#intro #intro-content {
  max-width: 28em;
  padding: 10em 1.5em;
  transition: all 1s ease-in-out;
  text-align: center;
}

#intro p {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#intro a {
  color: white;
}

#intro a:hover {
  text-shadow: 0 0 1em rgba(0,0,0,0.5);
}

#intro a ~ a {
  margin-left: .75em;
  border-left: 2px solid white;
  padding-left: .75em;
}

#intro .button {
  border-width: 2px;
  border-color: white;
  background: rgba(0,0,0,0.02);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
  color: white;
}

#intro .button:hover {
  background: rgba(0,0,0,0.1);
  color: white;
}

#intro .button.primary {
  background: white;
  color: black;
  box-shadow: none;
  padding-left: 1.5em;
}

#intro .button.primary:hover {
  background-color: var(--palette-2);
  border-color: var(--palette-2);
  color: white;
}

#scroller {
	position: absolute;
	bottom: 5em;
	left: 50%;
	cursor: pointer;
	z-index: 2;
}

#scroller span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  box-sizing: border-box;
}

#scroller span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroller span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 46px;
  height: 46px;
  background-color: rgba(255,255,255,.1);
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  animation: scrollindicator 2s infinite;
  box-sizing: border-box;
}

@keyframes scrollindicator {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 20px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media only screen and (min-width: 480px) {
  #intro {
    background-position: left;
  }
}

@media only screen and (min-width: 960px) {
  #intro {
    background-position: right 0% bottom 70%;
  }
  #intro #intro-content {
    margin-left: 7.5%;
  }
}

@media only screen and (min-width: 1280px) {
  #intro {
    background-position: right 0% bottom 60%;
  }
  #intro #intro-content {
    margin-left: 10%;
  }
}

/*
========================
ABOUT
========================
*/

#about {
  text-align: left;
}

#about h1 {
  text-align: center;
}

#about img {
  margin-top: 2em;
}

/*
========================
ISSUES
========================
*/

#issues {
  text-align: center;
  background-color: #f8fafc;
  background-color: var(--palette-3);
  color: white;
}

#issues h1 {
  margin-bottom: .25em;
}

#issues h2 {
  margin: 1em auto;
  max-width: 25em;
  margin-top: 0;
  font-size: 1.5em;
  color: black;
}

#issues ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

#issues li {
  flex: 1 0;
  flex-basis: 100%;
  margin-bottom: 1.5em;
  padding: 1em 2em;
  background-color: rgba(249,252, 255, 0.9);
  border: 1px solid rgba(0,0,0,0.03);
  border-radius: .5em;
  box-shadow: 0 1em 1em rgba(0,0,0,0.03);
  color: black;
}

#issues li h2 {
  margin-top: inherit;
  font-size: 1.5em;
  color: inherit;
}

#issues li p {
  text-align: left;
}

@media only screen and (min-width: 960px) {
  #issues ul {
    padding: 0 2em;
  }
  #issues li {
    flex-basis: 40%;
    margin: 1em;
  }
}

@media only screen and (min-width: 1280px) {
  #issues ul {
    padding: 0 2em;
  }
  #issues li {
    flex-basis: 30%;
  }
}

/*
========================
HOW TO HELP
========================
*/

#how-to-help {
  text-align: center;
  background-color: var(--palette-2);
  background-color: #f8fafc;
  color: white;
  color: black;
}

#how-to-help ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  display: flex;
  align-items: center;
}

#how-to-help li {
  position: relative;
  /*display: flex;*/
  flex: 1 0;
  flex-basis: 100%;
  flex-flow: column nowrap;
  margin-bottom: 1.5em;
  padding: 2em;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.03);
  border-radius: .5em;
  box-shadow: 0 1em 1em rgba(0,0,0,0.03);
  color: black;
}

#how-to-help li:first-child {
  background-color: transparent;
  box-shadow: none;
  border: none;
  flex-basis: 25%;
  padding-bottom: 5em;
}

#how-to-help li h2 {
  margin-top: 0;
  margin-bottom: .25em;
}

#how-to-help li p {
  text-align: left;
}

#how-to-help li p:last-child {
  margin: 0 auto;
  margin-top: auto;
  padding-top: .75em;
  text-align: center;
}

#how-to-help input,
#how-to-help textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid var(--border-color);
}

#how-to-help label {
  color: var(--palette-1);
  font-family: var(--header-family);
  font-weight: 500;
  font-size: .9em;
  text-transform: uppercase;
}

#volunteer-form {
  text-align: left;
}

#volunteer-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .5em;
}

.volunteer-option {
  flex: 1;
  flex-basis: 100%;
  font-size: .9em;
}

#how-to-help .volunteer-option label {
  font-family: var(--text-family);
  font-weight: normal;
  text-transform: none;
  opacity: 1;
}

#how-to-help input[type=checkbox] {
  display: inline-block;
  width: initial;
  margin-right: 1em;
  margin-bottom: 0;
}

#how-to-help input[type=checkbox] ~ label {
  margin-right: 1em;
}

#how-to-help ::placeholder {
  opacity: .5;
}

@media only screen and (min-width: 750px) {
  .volunteer-option {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 960px) {
  #how-to-help ul {
    padding: 0 2em;
  }
  #how-to-help li {
    flex-basis: 40%;
    margin: 1em;
  }
  .volunteer-option {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  #how-to-help ul {
    padding: 0 2em;
  }
}

/*
========================
FOOTER
========================
*/

#footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

#footer li a {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  margin: 0 1em;
  text-indent: -99990px;
}

/* 
Icons from: 
Email: https://uxwing.com/received-inbox-email-icon/
Facebook: https://uxwing.com/facebook-round-color-icon/
Twitter: https://uxwing.com/twitter-round-color-icon/
Instagram: https://uxwing.com/instagram-round-color-icon/ 
*/

#footer li:nth-child(1) a {
  background-image: url(/img/icons/email.svg);
}

#footer li:nth-child(2) a {
  background-image: url(/img/icons/twitter-round-color.svg);
}

#footer li:nth-child(3) a {
  background-image: url(/img/icons/facebook-round-color.svg);
}

#footer li:nth-child(4) a {
  background-image: url(/img/icons/instagram-round-color.svg);
}

@media only screen and (min-width: 480px) {
  #footer {
    padding: 3em 1.5em;
  }
  #footer li a {
    margin: 0 2em;
  }
}
